body{
    background: rgba(211, 203, 203, 0.541);
    background-image: url(/img/black.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;

}

.foto_perfil{
    border: 2px solid white;
    border-radius: 50%; 
}
img.foto_perfil {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
a{
    text-decoration: line-through;
    color: #505050;    
}
#title{
    font-size: 40px;
}
#title, .subtitle, .pos_title{
    color:  lightblue;
    text-align: center;
}

.infor-formacao, .infor-experiencias, .infor-certificacoes, lu li{
    color:  black;
    text-align: center;
}

.li-separada{
    text-align: justify;
}

.lu-certificacoes{
    text-align: justify;
}

.pos_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(216, 216, 216);
    padding: 15px;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}
.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list, li a{
    color: lightblue;
    list-style-type: none;
    padding-left: 15px;
    text-decoration: none;
}

.contacts_list, h4{
    text-align: center;
}
